{% extends 'amazon_base.html' %}

{% block content %}
		<a href="#" id="LoginWithAmazon">
			<img border="0" alt="Login with Amazon"
				src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
				width="156" height="32" />
		</a>

		<script type="text/javascript">
			document.getElementById('LoginWithAmazon').onclick = function() {
				options = { scope : 'profile' };
				amazon.Login.authorize(options, '{{ SITE_URL }}{% url 'profile' %}');
				return false;
			};
		</script>

		{{ block.super }}

{% endblock content %}
